.app {
  max-width: 317px;
  overflow: hidden;
  margin: 32px auto;
  border-radius: 10px;
  background-color: var(--background);
}

.app button {
  width: 100%;
  font-size: .6rem;
  padding: 6px 0;
  border: none;
  transition: all .5s;
  background-color: var(--background);
  color: var(--text-primary);
}